html, body, div,ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,i
 ,span{
	margin:0; 
	padding:0; 
}
img{
	display: block;
	border: none;
}
ul,ol {
 list-style:none; 
} 

html,body{
	height:100%;
}
body {
 color:#333; 
  font:12px/20px "SimSun","宋体","Arial Narrow",HELVETICA; 
  background:#fff;
 
}
a {
	color:#666; 
	text-decoration:none; 
}
	/*
	 * 右侧悬浮栏 start
	 */
	.cart_right{
		width:35px;
		height:100%;
		position: fixed; 
		top:0;
		right:0;
		background:#333;
		z-index:11;
		opacity: 0.9;		
	}

 
		.cart_right li{
			width:35px;
			height: 35px;
			background:url(../img/icon_rightnav.png) no-repeat;	
			background-position: 7px 0;
			position:relative;
		}
		.cart_right li:first-child{
			margin-top:95px;			
		}
		.cart_right li:nth-child(2){
			 background-position:7px -43px;
			 		 
		}
			.cart_right li:nth-child(2) span{				 
					display:block;
					width:35px;
					position:relative;
					color:#fff;	
					top:40px;
					left:14px;			
			}
			.cart_right li:nth-child(2) div.gou{
				width:25px;
				height: 20px;
				border-radius: 5px;
				color:#fff;
				background:#ff3333;
				position:relative;
				top:50px;
				text-align: center;
				line-height: 20px;
				left:6px;
			}
		
		.cart_right li:nth-child(3){
			 background-position:7px -86px;
			 margin-top:90px;
		}
		.cart_right li:nth-child(4){
			background-position:7px -147px;
			margin-top:5px;
		}
		.cart_right li:nth-child(5){
			margin-top:15px;
			background-position:7px -207px;
		}
		.cart_right li:nth-child(6){
			margin-top:15px;
			margin-top:170px;
			background-position:7px -255px;
		}
		.cart_right li:nth-child(7){
			background-position:7px -313px;
			margin-top:15px;
		}
		.cart_right li:nth-child(8){
			background-position:7px -365px;
				
		}
		.cart_right li:nth-child(9){
				margin-top:15px;
			background-position:7px -424px;
		}
	.person{
		width:75px;
		height: 37px;
		color:#fff;
		background:#333;
		position:absolute;
		right:35px;
		text-align: center;
		line-height: 37px;
		display: none;
	}
	
	/*
	 * 右侧悬浮栏 over
	 */
/*header_top start*/
 
	.header_top {
		height:38px;
		width:100%;
		background:#fafafa;		 
		border-bottom: 1px solid #dddddd;
		position: relative;
	}
		.layout{
			width:1135px;
			margin:0 auto;
			height: 38px;
			position: relative;
		}
			.header_top .layout_left {
				float: left;
				 
				width:715px;
				height: 38px;
			}
				.header_top .layout_left img{
					float: left;
					margin: 6px 7px 6px 0;

				}
			/*
			 * 导航条  start
			 */
			.header_top .layout_right{
				float: left;
				height: 38px;
				width:420px;
				position:relative;
				
			}
				.layout_right li {
					float: left;
					font-size:12px;
					color:#666;
					line-height: 36px;
					position:relative; 
					background:#fafafa;
					z-index:99;
					height: 36px;
				}
					.o,.fo,.to,.so,.all,.tw,.th{
						display: block;
						float: left;
					}
					.tw,.th{
						color:#cccccc;
						padding-top:3px;
						font-size:16px;
					}
					.o{
						 margin-top:3px;					 
						color:#ff5500;
						font-size:26px;					 
					}
					.tw{
						padding-left:3px;
						font-size: 12px;
					}
					
				.layout_right li:first-child{
					width:105px;
					
				}	
				
					.kefu,.guanzhu,.hui,.app{
						position: absolute;
						top:0px;
						background:#fff;
						z-index: -1;
						display: none;
						border:1px solid #ccc;
					}
						.kefu span{
							text-align: center;
							font-size:12px;
							line-height: 12px;
							margin-bottom:15px;
						}
						.kefu .kefu_time{						 
							margin-top:45px;					 
						}
				.layout_right .nav_two{
					width:105px;
				}
						.layout_right .guanzhu img{
							top:40px;
							float:left;
							left:10px;
							position:absolute;							
						}
						.layout_right .guanzhu .two{
							position:absolute;
							top:40px;
							left:110px;
						}						
						.layout_right .guanzhu span{
							position: absolute;
							top:130px;
							left:40px;
						}
						.layout_right .guanzhu .fu{
							left:135px;
						}
					.fo{
						margin-top:3px;					 
						color:#21bb2a;
						font-size:22px;	
						padding-right:3px;
					}
				.layout_right .nav_three{
					width:114px; 
				}
					.nav_three .hui span{					
						position:absolute;
						top:42px;
						margin-left: 10px;
					}
					.nav_three .hui .dui{
						width:100px;
						height: 23px;
						border: 1px solid #d0d0d0 ;
						 top:47px;
						 left:50px;
						 float: left;
						 border-radius:4px;
						position:absolute;
						
					}
					.nav_three .hui .huan{
						width:145px;
						height: 30px;
						float: left;
						position:absolute;
						border:none;
						border-radius: 5px;
						top:80px;
						color:#fff;
						margin-left: 10px;;
						background:#afafaf;
					}
					.nav_four .app img{
						position:absolute;
						top:45px;
						left:10px;	
					}
					.nav_four .app span{
						top:135px;
						left:10px;
						position:absolute;
					}
				
					.so{
						 margin-top:3px;					 
						color:#ff5500;
						font-size:20px;	
						padding-right: 3px;				 
					}
				.layout_right .nav_four{
					width:96px;
				}
					.to{				 
						color:#ea8112;
						font-size:20px;	
						padding-right: 5px;				 
					}
			/*
			 * 导航条  over
			 */
/*header_top over*/
.ca{
	height: 85px;
	border-bottom:1px solid #e1e1e1;
}
	.ca img{
		margin-top:20px;
		float:left;
	}
	.ca img:nth-child(2){
		float:right;
	}
	.myCart{
		color:#68bb00;
		margin-top:20px;
	}
		.ta{
			height: 37px;
			background:#f7f7f7;
			border-top:1px solid #e1e1e1;
			border-bottom:1px solid #e1e1e1;
			line-height: 37px;
		}
		.first td:first-child{
			width:330px;
		}
		.first td:nth-child(2){
			width:115px;
		}
		.first td:nth-child(3){
			width:170px;
		}
		.first td:nth-child(4){
			width:115px;
		}
		.first td:nth-child(5){
			width:110px;
		}
		.first td:nth-child(6){
			width:95px;
		}
		.first td:nth-child(7){
			width: 80px;
		}
		.tb{
			height: 300px;
		}
		.tb .two{
			height: 100px;
			line-height: 100px;
			width:200px;
			border-top:1px solid #E1E1E1;
			border-bottom:1px solid #e1e1e1;
		}
